@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background-color: #FAFAFA;
	width: 100%;
}

.header {
	width: 100%;
	height: 55px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
	background-color: white;
}

.header__content {
	width: 54%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
}

.header__logo {
	width: 125px;
	height: 40px;
}

.header__icon {
	background: none;
	border: 0;
}

.stories {
	height: 80px;
	width: 100%;
}

.stories__content {
	width: 54%;
	height: 100%;
	margin: 20px auto;
	display: flex;
}

.storie__link {
	height: 78px;
	width: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	margin: 0 8px;
}

.storie__thumb {
	height: 72px;
	width: 72px;
}

.storie__link--newStories {
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.user__thumb--modifier {
	border: 2px solid white;
}

.user__thumb {
	height: 100%;
	width: 100%;
	border-radius: 100%;
}

.posts {
	width: 100%;
}

.posts__container {
	width: 54%;
	height: 100%;
	margin: 0 auto;
}

.post__content {
	height: 950px;
	width: 100%;
	margin: 30px 0;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.post__header {
	height: 58px;
	padding: 4px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
}

.user {
	height: 100%;
	width: 140px;
	display: flex;
	align-items: center;
}

.user__link {
	height: 40px;
	width: 40px;
}

.user__name {
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 12px;
	margin-left: 10px;
}

.header__config {
	background: none;
	border: 0;
}

.post__image {
	width: 100%;
	height: 800px;
}

.post__image img {
	width: 100%;
	height: 100%;
}

.post__icons {
	display: flex;
	justify-content: space-between;
	padding: 4px;
}

.post__icon {
	background: none;
	border: 0;
	width: 50px;
	height: 40px;
}

.post__icon i{
	font-size: 20px;
}

.post__status {
	background: rgba(0, 0, 0, 0.10);
	height: 42px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	align-items: center;
}

.user__status {
	width: 35px;
	margin-right: 8px;
	margin-left: 4px;
	margin-top: 4px;
}

.like {
	font-size: 12px;
}

.liked {
	text-decoration: none;
	font-weight: bold;
	color: black;
}